* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.main {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}
.pic-content{
    position: relative;
    background-color: #ccc;
    height: 100%;
    flex: 1;
    border-right: 1px solid silver;
    overflow: hidden;
}
.pic-content-left, .pic-content-right {
    width: 25%;
    height: 100%;
    /* background: red; */
    position: absolute;
    /* z-index: 2; */
}
.pic-content-left {
    top: 0;
    left: 0;
}
.pic-content-right {
    top: 0;
    right: 0;
}
.pic-content img {
    position: relative;
    transform: translate(-50%, -50%);
    width: auto;
    /* height: auto; */
    min-width: 50%;
    max-height: 100%;
    max-width: 100%;
    background: #eee;
    top: 50%;
    left: 50%;
}
.pic-info{
    width: 320px;
    background-color: #ddd;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; 
}